How it works

%form{:enctype => "multipart/form-data", :method => "post"}
  %input{:name => "f", :type => "file"}
  %input{:name => "upload", :type => "submit"}
  

%a(href="http://www.flickr.com/photos/vasta/357532726/in/photostream/")
  photo by vasta