%html
  %head
    %title playlister
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "/js/jquery.dataTables.min.js"}
    %script{:src => "/js/jquery.tools.min.js"}
    %script{:src => "/js/main.js"}
    %link{:rel => "stylesheet", :href => "/css/demo_table.css"}
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    %link{:rel => "stylesheet", :href => "/css/fonts.css"}
  %body
    != yield